@use "./Variables" as *;
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  font-size: 48px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  user-select: none;
  font-size: $textSmall;
}
// layout
body {
  background: linear-gradient(to bottom, #517ff6, #253663);
}
.wrapper {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: 10px;
}
main {
  grid-area: "main";
  border: 1px solid black;
  box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.219);
  min-height: 100vh;
  width: 100%;
  overflow-x: auto;
}
footer {
  grid-area: "footer";
}
nav {
  grid-area: "nav";
}
.page-container {
  background-color: $lightSecondaryColor;
  border-radius: 20px;
  padding: 30px;
  height: 100%;
}
@media only screen and (max-width: "500px") {
  .page-container {
    padding: 10px;
  }
}
//Typography
h1 {
  font-size: $mainHeadings;
  font-weight: 600;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.315);
}
.text-hero {
  font-size: $mainHeadings;
  font-weight: 600;
}
h2,
.text-large {
  font-size: $textLarge;
}
.text-small {
  font-size: $textSmall;
}
.font-secondary {
  color: $secondaryColor;
}
.font-primary {
  color: $primaryColor;
}
.nav-icon {
  font-size: $iconSize;
}
// Toastify
.Toastify {
  font-size: $textSmall;
}
// Tables
.large-table {
  border-collapse: collapse;
  width: 100%;
  background-color: $secondaryColor;
  border-radius: 10px;
  overflow: hidden;
  th,
  td {
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tr {
    &:nth-last-child(odd) {
      background-color: #5180f62a;
    }
  }
}
.small-table {
  background-color: $secondaryColor;
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  table-layout: fixed;
  overflow: hidden;
  tr {
    border-bottom: 1px solid $grayColor;
    &:last-child {
      border-bottom: none;
    }
    &:nth-last-child(odd) {
      background-color: #5180f62a;
    }
  }

  td {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid $grayColor;
    &:last-child {
      border-right: none;
    }
  }
}
